@use '../abstracts/globals' as *;

.hero {
  display: flex;
  width: 100%;
  background-image: url(/src/assets/img/img-hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 40px;
  padding: 100px;
}

.offer {
  display: flex;
  width: 530px;
  flex-direction: column;
  gap: 40px;
  color: $text-inverse;
}